@model IEnumerable<MSMA_Proyecto.Models.Comida>

@{
    ViewData["Title"] = "Index";
}

<h1>Comidas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Comida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Comida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDPlato">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDPlato">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDPlato">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
