@model MSMA_Proyecto.Models.Cervezas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cervezas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tamaño)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tamaño)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AVC)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDCerveza">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
